body {
   background: rgb(200, 211, 250);
}
.userMap {
   margin: 20px 0 0 20px;
}

.userMap__table {
   border-collapse: collapse;
   display: flex;
   justify-content: space-around;
}


.tdata {
   border: 2px solid black;
   height: 40px;
   width: 40px;
   font-size: 30px;
}

.addColorTableData {
   /* background: rgb(23, 243, 232); */
   background-image: url('./img/ship.jpg');
   background-size: 42px 42px;
   /* outline: 2px solid green; */
}

.shipsEnd {
margin-bottom: -25px;
}

.hideSpaceShip {
   background: rgb(200, 211, 250);
   outline: none
}

.shipWasFound {
   /* background: rgb(248, 2, 2); */
   /* text-align: center; */
   background-image: url('./img/fire1.jpg');
   background-size: 42px 42px;
}

.shipWasNotFound {
   /* background: rgb(2, 248, 64); */
   text-align: center;
   background-image: url('./img/miss1.jpg');
   background-size: 42px 42px;
}
.shipsCrashed{
   color: red;
}
.flag {
   background-image: url('./img/flag.jpg');
   background-size: 37px 40px;
}

.radioButtonsShips {
   display: flex;
   justify-content: space-around;
   width: 220px;
}

.radioButton {
   display: flex;
   justify-content: space-around;
}
.hideElement {
   display: none;
}

.recordClick {
   margin-top: 30px;
   margin-bottom: -25px;
   color: rgb(25, 0, 255);
}
.newGame {
   background: rgb(193, 243, 205);
   border: 1px solid green;
   border-radius: 5px;
}

.resetResult {
   margin: 0 0 20px 20px;
   background: rgb(248, 194, 194);
   border: 1px solid red;
   border-radius: 5px;
}
.strNumClick {
   color: rgb(85, 84, 84);
   font-size: 20px;
   font-style: italic;
   font-weight:600;
}